@import url("https://fonts.googleapis.com/css?family=Muli");
html {
  height: 100%;
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  font-family: 'Muli', Helvetica, sans-serif; }

body {
  font-size: 1.6rem;
  white-space: nowrap; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.navigation-item__container {
  display: inline-block; }
  .navigation-item__container .text {
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    display: inline-block;
    transform: translatez(0); }
  .navigation-item__container--link {
    text-decoration: none; }

.navigation-item__container:hover {
  cursor: pointer; }
  .navigation-item__container:hover .text {
    color: #fff;
    font-size: 2rem;
    font-weight: 900;
    display: inline-block;
    animation: text 1050ms ease-in infinite;
    transform: translatez(0); }
    .navigation-item__container:hover .text--1-letter {
      transform: translate3d(0, -4rem, 0);
      animation: text 1050ms ease-in infinite; }
  .navigation-item__container:hover .text--2-letter {
    animation-delay: 150ms; }
  .navigation-item__container:hover .text--3-letter {
    animation-delay: 230ms; }
  .navigation-item__container:hover .text--4-letter {
    animation-delay: 310ms; }
  .navigation-item__container:hover .text--5-letter {
    animation-delay: 390ms; }
  .navigation-item__container:hover .text--6-letter {
    animation-delay: 470ms; }
  .navigation-item__container:hover .text--7-letter {
    animation-delay: 550ms; }
  .navigation-item__container:hover .text--8-letter {
    animation-delay: 630ms; }
  .navigation-item__container:hover .text--9-letter {
    animation-delay: 710ms; }
  .navigation-item__container:hover--link {
    text-decoration: none; }

@keyframes text {
  0% {
    transform: translate3d(0, 0, 0); }
  30% {
    transform: translate3d(0, 0, 0); }
  45% {
    transform: translate3d(0, -2rem, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }

@keyframes text-first-letter {
  0% {
    transform: translate3d(0, 0, 0); }
  38% {
    transform: translate3d(0, 0); }
  69% {
    transform: translate3d(0, -2rem, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }

.navigation-bar {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 6.3rem;
  display: flex;
  overflow: hidden; }
  .navigation-bar__logo {
    width: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white; }
  .navigation-bar__list {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    list-style-type: none;
    animation: show-nav 2s ease-in;
    -webkit-animation: show-nav  2s ease-in;
    -moz-animation: show-nav  2s ease-in;
    -ms-animation: show-nav  2s ease-in;
    -o-animation: show-nav  2s ease-in; }
    .navigation-bar__list__item {
      width: 15rem;
      position: relative;
      display: flex;
      justify-content: center; }

@keyframes show-nav {
  0% {
    top: 150px; }
  50% {
    top: 150px; }
  100% {
    top: 0; } }

.hero {
  height: 100vh;
  width: 100vw;
  align-items: center; }
  .hero__img--background {
    height: 100vh;
    width: 100vw;
    top: 0;
    background-image: url("../assets/images/backgrounds/waterfall-timelapse.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    animation: show-background 2s ease;
    -webkit-animation: show-background 2s ease;
    -moz-animation: show-background 2s ease;
    -ms-animation: show-background 2s ease;
    -o-animation: show-background 2s ease; }
  .hero__text {
    font-size: 10rem;
    color: white;
    position: absolute;
    top: 40%;
    overflow: hidden; }
    .hero__text--title {
      font-size: 10rem;
      position: relative;
      animation: show-text 2s ease-in;
      -webkit-animation: show-text 2s ease-in;
      -moz-animation: show-text 2s ease-in;
      -ms-animation: show-text 2s ease-in;
      -o-animation: show-text 2s ease-in; }
    .hero__text--description {
      margin-top: -2rem;
      position: relative;
      font-size: 4rem;
      animation: show-text 2s ease-in;
      -webkit-animation: show-text 2s ease-in;
      -moz-animation: show-text 2s ease-in;
      -ms-animation: show-text 2s ease-in;
      -o-animation: show-text 2s ease-in; }

@keyframes show-background {
  0% {
    height: .5rem;
    left: 50%;
    width: 0;
    bottom: 0; }
  50% {
    height: .5rem;
    width: 100vw;
    left: 0; }
  100% {
    height: 100vh;
    width: 100vw; } }

@keyframes show-text {
  0% {
    top: 250px; }
  50% {
    top: 250px; }
  100% {
    top: 0; } }

.projects {
  display: inline-block;
  height: 100vh;
  width: 100vw;
  background: red; }
  .projects--container--title {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .projects--container--title h1 {
      position: absolute; }
  .projects__container--row {
    display: flex;
    justify-content: center; }

.one {
  background: url("https://source.unsplash.com/900x920");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

img {
  max-width: 100%; }

.card {
  position: relative;
  background: #333;
  height: 40%;
  border-radius: .6rem;
  padding: 2rem;
  color: #aaa;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: inline-block; }
  .card__image-container {
    margin: -2rem -2rem 1rem -2rem; }
  .card__line {
    opacity: 0;
    animation: LineFadeIn .7s .7s forwards ease-in; }
  .card__image {
    opacity: 0;
    animation: ImageFadeIn .8s 1.4s forwards; }
  .card__title {
    color: white;
    margin-top: 0;
    font-weight: 800;
    letter-spacing: 0.01em; }
  .card__content {
    margin-top: -1rem;
    opacity: 0;
    animation: ContentFadeIn .8s 1.6s forwards; }
  .card__svg {
    position: absolute;
    left: 0;
    left: 0;
    top: 95px; }

@keyframes LineFadeIn {
  0% {
    opacity: 0;
    d: path("M 0 300 Q 0 300 0 300 Q 0 300 0 300 C 0 300 0 300 0 300 Q 0 300 0 300 ");
    stroke: #fff; }
  50% {
    opacity: 1;
    d: path("M 0 300 Q 50 300 100 300 Q 250 300 350 300 C 350 300 500 300 650 300 Q 750 300 800 300");
    stroke: #888BFF; }
  100% {
    opacity: 1;
    d: path("M -2 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 802 400");
    stroke: #545581; } }

@keyframes ContentFadeIn {
  0% {
    transform: translateY(-1rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes ImageFadeIn {
  0% {
    transform: translate(-0.5rem, -0.5rem) scale(1.05);
    opacity: 0;
    filter: blur(2px); }
  50% {
    opacity: 1;
    filter: blur(2px); }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
    filter: blur(0); } }

.test {
  display: inline-block;
  height: 100vh;
  width: 100vw;
  background: red;
  border-radius: 1px solid; }

.test2 {
  display: inline-block;
  height: 100vh;
  width: 100vw;
  background: #1900ff;
  border-radius: 1px solid; }
