@import url("https://fonts.googleapis.com/css?family=Muli");
html {
  height: 100%;
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow-y: hidden;
  font-family: 'Muli', Helvetica, sans-serif; }

body {
  font-size: 1.6rem;
  height: 100%;
  white-space: nowrap; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.navigation-item__container {
  display: inline-block; }
  .navigation-item__container .text {
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    display: inline-block;
    transform: translatez(0); }
  .navigation-item__container--link {
    text-decoration: none; }

.navigation-item__container:hover {
  cursor: pointer; }
  .navigation-item__container:hover .text {
    color: #fff;
    font-size: 2rem;
    font-weight: 900;
    display: inline-block;
    animation: text 1050ms ease-in infinite;
    transform: translatez(0); }
    .navigation-item__container:hover .text--1-letter {
      transform: translate3d(0, -4rem, 0);
      animation: text 1050ms ease-in infinite; }
  .navigation-item__container:hover .text--2-letter {
    animation-delay: 150ms; }
  .navigation-item__container:hover .text--3-letter {
    animation-delay: 230ms; }
  .navigation-item__container:hover .text--4-letter {
    animation-delay: 310ms; }
  .navigation-item__container:hover .text--5-letter {
    animation-delay: 390ms; }
  .navigation-item__container:hover .text--6-letter {
    animation-delay: 470ms; }
  .navigation-item__container:hover .text--7-letter {
    animation-delay: 550ms; }
  .navigation-item__container:hover .text--8-letter {
    animation-delay: 630ms; }
  .navigation-item__container:hover--link {
    text-decoration: none; }

@keyframes text {
  0% {
    transform: translate3d(0, 0, 0); }
  30% {
    transform: translate3d(0, 0, 0); }
  45% {
    transform: translate3d(0, -2rem, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }

@keyframes text-first-letter {
  0% {
    transform: translate3d(0, 0, 0); }
  38% {
    transform: translate3d(0, 0); }
  69% {
    transform: translate3d(0, -2rem, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }

.navigation-bar {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 6.3rem;
  display: flex;
  overflow: hidden; }
  .navigation-bar__logo {
    width: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white; }
  .navigation-bar__list {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    list-style-type: none;
    animation: show-nav 2s ease-in;
    -webkit-animation: show-nav  2s ease-in;
    -moz-animation: show-nav  2s ease-in;
    -ms-animation: show-nav  2s ease-in;
    -o-animation: show-nav  2s ease-in; }
    .navigation-bar__list__item {
      width: 15rem;
      position: relative;
      display: flex;
      justify-content: center; }

@keyframes show-nav {
  0% {
    top: 150px; }
  50% {
    top: 150px; }
  100% {
    top: 0; } }

.hero {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center; }
  .hero__img--background {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-image: url("../assets/images/backgrounds/waterfall-timelapse.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    animation: show-background 2s ease;
    -webkit-animation: show-background 2s ease;
    -moz-animation: show-background 2s ease;
    -ms-animation: show-background 2s ease;
    -o-animation: show-background 2s ease;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
  .hero__text {
    font-size: 10rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden; }
    .hero__text--title {
      z-index: 1;
      padding-left: 10rem;
      position: relative;
      animation: show-text 2s ease-in;
      -webkit-animation: show-text 2s ease-in;
      -moz-animation: show-text 2s ease-in;
      -ms-animation: show-text 2s ease-in;
      -o-animation: show-text 2s ease-in; }
    .hero__text--description {
      z-index: 1;
      margin-top: -2rem;
      padding-left: 10rem;
      position: relative;
      font-size: 4rem;
      animation: show-text 2s ease-in;
      -webkit-animation: show-text 2s ease-in;
      -moz-animation: show-text 2s ease-in;
      -ms-animation: show-text 2s ease-in;
      -o-animation: show-text 2s ease-in; }

@keyframes show-background {
  0% {
    height: .5rem;
    left: 50%;
    width: 0;
    bottom: 0; }
  50% {
    height: .5rem;
    width: 100vw;
    left: 0;
    bottom: 0; }
  100% {
    height: 100vh;
    width: 100vw;
    bottom: 0;
    left: 0; } }

@keyframes show-text {
  0% {
    top: 150px; }
  50% {
    top: 150px; }
  100% {
    top: 0; } }

.test {
  display: inline-block;
  height: 100vh;
  width: 100vw;
  background: red;
  border-radius: 1px solid; }

.test2 {
  display: inline-block;
  height: 100vh;
  width: 100vw;
  background: #1900ff;
  border-radius: 1px solid; }
