.navigation-item__container {
  display: inline-block; }
  .navigation-item__container .text {
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    display: inline-block;
    transform: translatez(0); }

.navigation-item__container:hover {
  cursor: pointer; }
  .navigation-item__container:hover .text {
    color: #fff;
    font-size: 2rem;
    font-weight: 900;
    display: inline-block;
    animation: text 1050ms ease-in infinite;
    transform: translatez(0); }
    .navigation-item__container:hover .text--1-letter {
      transform: translate3d(0, -4rem, 0);
      animation: text 1050ms ease-in infinite; }
  .navigation-item__container:hover .text--2-letter {
    animation-delay: 150ms; }
  .navigation-item__container:hover .text--3-letter {
    animation-delay: 230ms; }
  .navigation-item__container:hover .text--4-letter {
    animation-delay: 310ms; }
  .navigation-item__container:hover .text--5-letter {
    animation-delay: 390ms; }
  .navigation-item__container:hover .text--6-letter {
    animation-delay: 470ms; }
  .navigation-item__container:hover .text--7-letter {
    animation-delay: 550ms; }
  .navigation-item__container:hover .text--8-letter {
    animation-delay: 630ms; }

@keyframes text {
  0% {
    transform: translate3d(0, 0, 0); }
  30% {
    transform: translate3d(0, 0, 0); }
  45% {
    transform: translate3d(0, -2rem, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }

@keyframes text-first-letter {
  0% {
    transform: translate3d(0, 0, 0); }
  38% {
    transform: translate3d(0, 0); }
  69% {
    transform: translate3d(0, -2rem, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }
