$textDur: 1050ms;
$waveDur: 2100ms;
$letter-length: 8;




.navigation-item__container {
    display: inline-block;

    .text {
        color: #fff;
        font-size: 2rem;
        font-weight: 600;
        display: inline-block;
        transform: translatez(0);
    }

    &--link {
        text-decoration:none; 
    }
}


.navigation-item__container:hover {
    cursor: pointer;

    .text {
        color: #fff;
        font-size: 2rem;
        font-weight: 900;
        display: inline-block;
        animation: text $textDur ease-in infinite;
        transform: translatez(0);

        &--1-letter {
            transform: translate3d(0, -4rem, 0);
            animation: text $textDur ease-in infinite;
        }
    }


    @for $var from 2 through $letter-length {
        .text--#{$var}-letter {
            animation-delay: 150ms + (80 * ($var - 2))
        }
    }

    &--link {
        text-decoration:none; 
    }
}





@keyframes text {
    0% {
        transform: translate3d(0, 0, 0);
    }

    30% {
        transform: translate3d(0, 0, 0);
    }

    45% {
        transform: translate3d(0, -2rem, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes text-first-letter {
    0% {
        transform: translate3d(0, 0, 0);
    }

    38% {
        transform: translate3d(0, 0);
    }

    69% {
        transform: translate3d(0, -2rem, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}
