.hero {
    height: 100vh;
    width: 100vw;
    align-items: center;

    &__img--background {
        height: 100vh;
        width: 100vw;
        top: 0;
        // position: absolute;
        background-image: url('../assets/images/backgrounds/waterfall-timelapse.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        animation: show-background 2s ease;
        -webkit-animation: show-background 2s ease;
        -moz-animation: show-background 2s ease;
        -ms-animation: show-background 2s ease;
        -o-animation: show-background 2s ease;
    }

    &__text {
        font-size: 10rem;
        color: white;
        position: absolute;
        top: 40%;
        overflow: hidden;

        &--title {
            font-size: 10rem;
            position: relative;

            animation: show-text 2s ease-in;
            -webkit-animation: show-text 2s ease-in;
            -moz-animation: show-text 2s ease-in;
            -ms-animation: show-text 2s ease-in;
            -o-animation: show-text 2s ease-in;
        }

        &--description {
            margin-top: -2rem;
            position: relative;
            font-size: 4rem;
            animation: show-text 2s ease-in;
            -webkit-animation: show-text 2s ease-in;
            -moz-animation: show-text 2s ease-in;
            -ms-animation: show-text 2s ease-in;
            -o-animation: show-text 2s ease-in;
        }
    }
}


@keyframes show-background {
    0% {
        height: .5rem;
        left: 50%;
        width: 0;
        bottom: 0;
    }

    50% {
        height: .5rem;
        width: 100vw;
        left: 0;
    }

    100% {
        height: 100vh;
        width: 100vw;
    }
}

@keyframes show-text {
    0% {
        top: 250px;
    }

    50% {
        top: 250px;
    }

    100% {
        top: 0;
    }
}